$themes: (
  default: (
    "primary-100": var(--palette-violet-100),
    "primary-200": var(--palette-violet-200),
    "primary-300": var(--palette-violet-300),
    "primary-400": var(--palette-violet-400),
    primary: var(--palette-violet-500),
    "primary-600": var(--palette-violet-600),
    "primary-700": var(--palette-violet-700),
    "primary-800": var(--palette-violet-800),
    "primary-900": var(--palette-violet-900),
    secondary: var(--palette-blue-500),
    positive: var(--palette-green-500),
    attention: var(--palette-amber-500),
    negative: var(--palette-rose-500),
    extralight: var(--palette-gray-true-100),
    light: var(--palette-gray-true-200),
    neutral: var(--palette-gray-true-500),
    dark: var(--palette-gray-true-700),
    extradark: var(--palette-gray-true-900),
  ),
  firecracker: (
    "primary-100": var(--palette-orange-100),
    "primary-200": var(--palette-orange-200),
    "primary-300": var(--palette-orange-300),
    "primary-400": var(--palette-orange-400),
    primary: var(--palette-orange-500),
    "primary-600": var(--palette-orange-600),
    "primary-700": var(--palette-orange-700),
    "primary-800": var(--palette-orange-800),
    "primary-900": var(--palette-orange-900),
    secondary: var(--palette-amber-500),
    positive: var(--palette-lime-500),
    attention: var(--palette-yellow-500),
    negative: var(--palette-red-500),
    extralight: var(--palette-gray-warm-100),
    light: var(--palette-gray-warm-200),
    neutral: var(--palette-gray-warm-500),
    dark: var(--palette-gray-warm-700),
    extradark: var(--palette-gray-warm-900),
  ),
  life: (
    "primary-100": var(--palette-lime-100),
    "primary-200": var(--palette-lime-200),
    "primary-300": var(--palette-lime-300),
    "primary-400": var(--palette-lime-400),
    primary: var(--palette-lime-500),
    "primary-600": var(--palette-lime-600),
    "primary-700": var(--palette-lime-700),
    "primary-800": var(--palette-lime-800),
    "primary-900": var(--palette-lime-900),
    secondary: var(--palette-life-400),
    positive: var(--palette-green-500),
    attention: var(--palette-amber-500),
    negative: var(--palette-rose-500),
    extralight: var(--palette-gray-true-100),
    light: var(--palette-gray-true-200),
    neutral: var(--palette-gray-true-500),
    dark: var(--palette-gray-true-700),
    extradark: var(--palette-gray-true-900),
  ),
  ocean: (
    "primary-100": var(--palette-blue-100),
    "primary-200": var(--palette-blue-200),
    "primary-300": var(--palette-blue-300),
    "primary-400": var(--palette-blue-400),
    primary: var(--palette-blue-500),
    "primary-600": var(--palette-blue-600),
    "primary-700": var(--palette-blue-700),
    "primary-800": var(--palette-blue-800),
    "primary-900": var(--palette-blue-900),
    secondary: var(--palette-sky-500),
    positive: var(--palette-teal-500),
    attention: var(--palette-orange-500),
    negative: var(--palette-red-500),
    extralight: var(--palette-gray-cool-100),
    light: var(--palette-gray-cool-200),
    neutral: var(--palette-gray-cool-500),
    dark: var(--palette-gray-cool-700),
    extradark: var(--palette-gray-cool-900),
  ),
  alternative: (
    "primary-100": var(--palette-rose-100),
    "primary-200": var(--palette-rose-200),
    "primary-300": var(--palette-rose-300),
    "primary-400": var(--palette-rose-400),
    primary: var(--palette-rose-500),
    "primary-600": var(--palette-rose-600),
    "primary-700": var(--palette-rose-700),
    "primary-800": var(--palette-rose-800),
    "primary-900": var(--palette-rose-900),
    secondary: var(--palette-indigo-500),
    positive: var(--palette-life-500),
    attention: var(--palette-yellow-500),
    negative: var(--palette-red-500),
    extralight: var(--palette-gray-warm-100),
    light: var(--palette-gray-warm-200),
    neutral: var(--palette-gray-warm-500),
    dark: var(--palette-gray-warm-700),
    extradark: var(--palette-gray-warm-900),
  ),
);
