@use './themes/utils/' as utils;
@use './themes/maps/' as maps;

:root {
  @include utils.generate-varaibles($map: maps.$palette, $prefix: --palette);
  @include utils.generate-varaibles($map: maps.$themes, $prefix: --theme);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  background-color: var(--palette-mono-white);
}

button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input,
textarea {
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
}
