.wrapper {
  --textarea-border-color: var(--palette-gray-200);

  padding: 16px;
  border-radius: 16px;
  background-color: var(--palette-gray-700);
  border: 2px solid var(--textarea-border-color);

  .textarea {
    width: 100%;
    outline: none;
    background-color: transparent;
    color: var(--palette-gray-200);
    overflow: hidden;

    resize: none;
    transition: 0.08s linear;

    &:focus {
      --textarea-border-color: var(--palette-indigo-500);

      outline: none;
    }

    &::-webkit-scrollbar {
      width: 0.25rem;
      margin-left: 0.25rem;
      border-radius: 0.25rem;
      background-color: var(--palette-gray-300);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--palette-gray-900);
      border-radius: 0.25rem;
    }
  }
}
